body {
 font-family:fantasy, "Times New Roman", sans-serif, serif;
 background-color: #3D464D;
 color: white;


}
/*
label {
  text-emphasis: bold;
}
h2 {
  text-align: center;
  color: #990033;
  margin-top:8px;
  margin-bottom: 8px;
  padding-top: 4px;
  border: solid black 1px;
}

div.homescreen {
  border: solid gray 2px;
  max-width: 1000px;
  margin: 0 auto;
}
#menu_selections, button {
  text-align: left;
  margin-bottom:2%;
  margin-top:2%;
}
#main_menu {
  padding-left: 0px;
}
*/
.title{
  text-align: center;
  background-color: #bbddee;
  font-size:39pt;
  margin-top: 0;
  margin-bottom:3px;
  border: solid grey 2px;
  padding: 6px;
}
li {
  list-style-type: none;
}
#product_list li {
  display: inline-block;
  max-width: 80px;
  max-height: 80px;
  padding: 0;
  float: left;
}

.order_column{
  width: 30%;
  margin-left:2%;
  padding-right:1%;
  float:left;
  border-right: solid grey 2px;
}
.product_column{
  width: 46%;
  margin-left:2%;
  padding-right:1%;
  float:left;
  border-right: solid grey 2px;
}
.menu_column{
  width: 15%;
  margin-left:.2%;
  padding-right: 2%;
  float:left;
  border-right: solid  2px;
}
/*
.column:last-child {
  border:none;
}*/
.row {
  clear: both;
}
textarea {
  resize: none;
  border: solid grey 2px;
  readonly: yes;
  background-color: #347889;
}


.wine_info {
  padding_right : 2px;
  float: left;
}*/
